.el-carousel__arrow {
    width: 79px;
    height: 108px;
    font-size: 40px;
    border-radius: 0;
    z-index: 4;
}
.el-carousel__button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}